*{
    font-family: "Museo-Sans-Cyrl", sans-serif;
    margin-bottom: 0;
}
.container{
    max-width: 950px;
    margin: 0 auto
}

@import "variables";
@import"mixins";
@import"general";
@import"media";
@import"blocks/promo";
@import"blocks/header";
@import"blocks/buttons";
@import"blocks/header";
@import"blocks/title";
@import"blocks/advantages";
@import"blocks/consult";
@import"blocks/forms";
