.consult{
    min-height: 680px;
    background: url('../img/bg/free_consult_bg.png') center (center / cover) no-repeat;
    padding-top: 100px;
    padding-bottom: 92px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__form-header{
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin-top: 80px;
    }
}