.title{
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    &_left{
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        line-height: 50px;
    }
}